<div [formGroup]="filterform">
    Класс текста:
    <select formControlName="filterTextClassControl">
        <option value=""></option>
        <option *ngFor="let textClasse of textClasses" [ngValue]="textClasse.value">{{ textClasse.name }}</option>
    </select>
</div>
<div *ngIf="articles != null">
    <div>
        <span>Колличество статей: {{ articles.length }}</span>
    </div>
    <div *ngFor="let article of articles">
        <li><a routerLink="/articles/id/{{ article.id }}">{{ article.title }}</a></li>
    </div>
</div>
